fastapi
uvicorn

python-dotenv
qdrant-client
sentence-transformers
langchain
langchain-core
langchain-text-splitters
langgraph
redis

opencv-python
pytesseract
pdf2image
python-docx
pydub
whisper
spacy
aioboto3
aiofiles
aiohttp

numpy
pydantic
typing_extensions

pillow
pymongo

